<h1>Welcome to ze Bike Moskow</h1>
<h2>Our source for *cough*free bikes*cough* err I mean, Your source for used bikes in Moskow</h2>
<hr>
<%= image_tag("racebike.jpg", class: "img-responsive my-image") %>